alembic==1.6.5
astroid==2.6.5
attrs==21.2.0
bandit==1.7.0
boto3==1.17.105
boto3-stubs==1.18.6
botocore==1.20.105
botocore-stubs==1.21.6
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
clickclick==20.10.2
colorama==0.4.4
connexion==2.7.0
Flask==2.0.1
Flask-Cors==3.0.10
gevent==21.1.2
gitdb==4.0.7
GitPython==3.1.18
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
inflection==0.5.1
isodate==0.6.0
isort==5.9.2
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
lazy-object-proxy==1.6.0
Mako==1.1.4
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.910
mypy-boto3-s3==1.18.6
mypy-extensions==0.4.3
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
pbr==5.6.0
pycparser==2.20
pylint==2.9.5
PyMySQL==1.0.2
pyrsistent==0.18.0
python-dateutil==2.8.1
python-editor==1.0.4
PyYAML==5.4.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
smmap==4.0.0
SQLAlchemy==1.4.20
sqlalchemy-stubs==0.4
stevedore==3.3.0
swagger-ui-bundle==0.0.8
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
