alembic==1.6.5
attrs==21.2.0
boto3==1.17.105
botocore==1.20.105
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
clickclick==20.10.2
connexion==2.7.0
Flask==2.0.1
greenlet==1.1.0
idna==2.10
inflection==0.5.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
Mako==1.1.4
MarkupSafe==2.0.1
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
PyMySQL==1.0.2
pyrsistent==0.18.0
python-dateutil==2.8.1
python-editor==1.0.4
PyYAML==5.4.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
SQLAlchemy==1.4.20
swagger-ui-bundle==0.0.8
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
