[Unit]
Description=Gunicorn for upskill backend app
After=network.target

[Service]
User=root
Group=root
EnvironmentFile=/etc/upskillbe.env
ExecStart=/opt/upskill_backend/resources/run_gunicorn_server.sh

[Install]
WantedBy=multi-user.target